<!DOCTYPE html>
<!-- IE conditional statements -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
<html lang="en">
	<head>
		<!-- meta charset -->
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<!-- title tag -->
		<title>{{#if pageTitle}}{{pageTitle}} — {{/if}}RAEDAM</title>
		<!-- meta tags -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="keywords" content="raedam
										parking
										raedam parking
										parking structure
										find parking
										find me parking">
		<!-- stylesheets -->
		<link href="/main.css" rel="stylesheet" />
		<!-- Fonts -->
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap" rel="stylesheet">
		<!-- Icons -->
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<!-- Favicon -->
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/site.webmanifest">
		<!-- Scripts -->
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script async type="text/javascript" src="/javascript/fixed-message.js"></script>
		<script async type="text/javascript" src="/javascript/submit-form.js"></script>
		<script async type="text/javascript" src="/javascript/decode.js"></script>
		<script defer type="text/javascript" src="/javascript/toggle-nav.js"></script>
		{{#if siteKey}}<script async src="https://www.google.com/recaptcha/api.js?render={{siteKey}}"></script>
		<script>let recaptchaKey="{{siteKey}}"</script>{{/if}}
		<!-- The core Firebase JS SDK is always required and must be listed first -->
		<script defer src="https://www.gstatic.com/firebasejs/8.2.10/firebase-app.js"></script>
		<!-- TODO: Add SDKs for Firebase products that you want to use
			https://firebase.google.com/docs/web/setup#available-libraries -->
		<script defer src="https://www.gstatic.com/firebasejs/8.2.10/firebase-analytics.js"></script>
		<script async src="https://www.googletagmanager.com/gtag/js"></script>
		<script src="https://www.googleoptimize.com/optimize.js?id=OPT-KXF7DM4"></script>
		<script defer type="text/javascript" src="/javascript/firebase-setup.js"></script>
	</head>
	<body>
		{{> header}}
 
		{{{body}}}

		{{> footer}}
		<script src="/javascript/smoothscroll.js"></script>
	</body>
</html>