/* TODO delete unused css */
:root {
	--background-color: #ffffff;
	--text-color: black;
	--secondary-background-color: #040531;
	--secondary-text-color: #ffffff;
	--nav-background-color: #0a0b52;
	--nav-text-color: #fff;
	--image-overlay: rgba(0, 50, 100, 0.8);
}
/* ======================== mobile ======================== */
html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
*,
*:before,
*:after {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}
body {
	background-color: white; /* fallback */
	background-color: var(--background-color);
	color: white; /* fallback */
	color: var(--text-color);
	font-family: "Montserrat", sans-serif;
	font-size: 1rem;
	font-weight: 300;
	/* limit width of website and keep it centered */
	margin: 0 auto;
	/* max-width: 1920px;  */ /* TODO may delete */
	/* push footer to bottom on low content pages */
	display: flex;
	flex-direction: column;
}
.stop-scrolling {
	overflow: hidden;
}

main {
	position: relative;
	text-align: left;
	flex: 1 0 auto;
}

main article {
	padding: 6vmax 8vw;
	position: relative;
}

main p {
	font-size: calc((1.5 - 1) * 1.2vw + 1rem);
	color: var(--text-color);
}
main p.small,
small {
	display: block;
	font-size: calc((1 - 1) * 1.2vw + 1rem);
}

[hidden] {
	display: none !important;
}

.grecaptcha-badge {
	visibility: hidden;
}

/* anchors */
a img {
	border: 0 solid transparent;
}
a {
	text-decoration: none;
	color: white; /* fallback */
	color: var(--text-color);
	/* animation */
	transition: 0.1s opacity linear;
}
a:link {
}
a:hover {
	opacity: 0.8;
}
a:active {
}
a:visited {
}

h1 {
	font-size: calc((3.7 - 1) * 1.2vw + 1rem);
}
h2 {
	font-size: calc((3.4 - 1) * 1.2vw + 1rem);
}
h3 {
	font-size: calc((2.2 - 1) * 1.2vw + 1rem);
}
h4 {
	font-size: calc((1.6 - 1) * 1.2vw + 1rem);
}

h1,
h2,
h3,
h4 {
	line-height: 1.2em;
	font-weight: bold;
	margin: 2rem 0;
}

h2,
h3,
h4,
h5,
h6 {
	color: var(--text-color);
}

button,
.button {
	padding: 1.3rem 2.171rem;
	color: white; /* fallback */
	background-color: #040531; /* fallback */
	color: var(--secondary-text-color);
	background-color: var(--secondary-background-color);
	cursor: pointer;
	font-weight: 500;
	letter-spacing: 0.02em;
	text-decoration: none;
	display: inline-block;
	/* remove default button css */
	font: inherit;
	border: 0px solid white;
	outline: none;
	/* animation */
	transition: 0.1s opacity linear;
	/* border radius */
	-webkit-border-radius: 0.4rem; /*Safari, Chrome*/
	-moz-border-radius: 0.4rem; /*Firefox*/
	border-radius: 0.4rem;
}
.btn-small {
	font-size: calc((0.9 - 1) * 1.2vw + 1rem);
	padding: 1.04rem 1.7368rem;
}
.btn-xs {
	font-size: calc((0.9 - 1) * 1.2vw + 1rem);
	padding: 0.6rem 0.7rem;
}
button:hover,
.button:hover,
[class^="socicon-"]:hover,
[class*=" socicon-"]:hover {
	opacity: 0.8;
}

.radius {
	-webkit-border-radius: 0.4rem; /*Safari, Chrome*/
	-moz-border-radius: 0.4rem; /*Firefox*/
	border-radius: 0.4rem;
}

.flex-container {
	display: flex;
	flex-direction: column;
}
.flex-item {
	flex: 1;
	text-align: center;
	margin-top: 3%;
}
.flex-card-container {
	margin: 5% 0;
}
.flex-card {
	background: #0a0b52;
	background-color: var(--secondary-background-color);
	color: white;
	color: var(--secondary-text-color);
	-webkit-border-radius: 0.5rem; /*Safari, Chrome*/
	-moz-border-radius: 0.5rem; /*Firefox*/
	border-radius: 0.5rem;
	padding: 0 2% 5% 2%;
}
.flex-card * {
	color: var(--secondary-text-color);
}

/* form */
form {
	text-align: left;
}
.description {
	font-size: calc((0.9 - 1) * 1.2vw + 1rem);
	opacity: 0.7;
}
fieldset {
	border: 0px solid white;
	border: 0px solid var(--background-color);
	padding: 0;
}
fieldset,
form .margin {
	margin-bottom: 24px;
}
input,
textarea {
	-webkit-border-radius: 2px; /*Safari, Chrome*/
	-moz-border-radius: 2px; /*Firefox*/
	border-radius: 2px;
	font: inherit;
	width: 100%;
}
input:invalid {
	/*border: red solid 3px;*/
}
input.button {
	width: auto;
}
.city {
	float: left;
	width: 70%;
}
.state {
	float: right;
	width: 28%;
}
.zip {
	width: 36%;
}
.phone {
	width: 100%;
}
textarea {
	height: 100px;
	padding: 5px;
}
select {
	font: inherit;
	font-size: calc((0.9 - 1) * 1.2vw + 1rem);
}
#messagecontainer {
	background-color: black; /* fallback */
	background-color: var(--text-color);
	color: white; /* fallback */
	color: var(--background-color);
	font-weight: 300;
	text-align: center;
	width: 100%;
	max-width: 1900px;
	padding: 3%;
	/* position */
	position: fixed;
	bottom: 0px;
	z-index: 1001;
}
#messagecontainer p {
	margin: 0 0 1rem 0;
}
#messagecontainer p:last-child {
	margin: 0;
}
#messagecontainer .close {
	background-color: transparent;
	color: inherit;
	border: none;
	outline: none;
	position: absolute;
	top: 0;
	right: 0;
	height: 30px;
	width: 30px;
	padding: 0px;
	text-align: center;
	/* animation */
	transition: 0.1s opacity linear;
}
#messagecontainer .close:hover {
	opacity: 0.6;
}
#messagecontainer .button {
	background-color: black; /* fallback */
	background-color: var(--background-color);
	color: white; /* fallback */
	color: var(--text-color);
}
#messagecontainer.confirmation {
	border: 2px solid #376f19;
	color: #376f19;
}
#messagecontainer.tryagain {
	border: 2px solid red;
	color: red;
}

/* header */
#top {
	padding-top: 500px;
	margin-top: -500px;
}
#header {
	position: absolute;
	top: 0;
}
#header-nav {
	position: sticky;
	width: 75%;
	-webkit-border-radius: 0.5rem; /*Safari, Chrome*/
	-moz-border-radius: 0.5rem; /*Firefox*/
	border-radius: 0.5rem;
	z-index: 1;
}

/* #header {
	position: sticky;
	top: 0;
	background-color: black;
	background-color: var(--background-color);
	padding: 1.5vw 2vw;
	flex-shrink: 0;
	z-index: 1000;
}
#header.toggled-on {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 100vh;
}
#header-title {
	font-weight: bold;
	font-style: normal;
	letter-spacing: 0.3em;
	font-size: calc((1.4 - 1) * 1.2vw + 1rem);
}
#header nav {
	display: none;
	text-align: center;
	margin: 0;
}
#header nav.toggled-on {
	display: flex;
	flex-direction: column;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 10px;
	font-size: 6vmin;
}
#header a {
	color: white;
	color: var(--text-color);
}
#header .button {
	color: black;
	color: var(--background-color);
}
#header .btn-inverted {
	color: white;
	background-color: black;
	color: var(--text-color);
	background-color: var(--background-color);
	border: 2px solid white;
	border: 2px solid var(--text-color);
}
#header .toggled-on button,
#header .toggled-on .button {
	font-size: 5vmin;
}
.currentpage {
	border-bottom: 1px solid white;
	border-bottom: 1px solid var(--text-color);
}
#header nav.toggled-on div {
	margin-bottom: 10px;
}
#header nav.toggled-on a.currentpage {
	border-width: 0.5vmin;
}*/
/* mobile menu */
#menu-button {
	cursor: pointer;
	float: right;
}
.bar1,
.bar2,
.bar3 {
	width: 35px;
	height: 5px;
	background-color: white;
	background-color: var(--text-color);
	margin: 6px 0;
	transition: 0.4s transform ease, 0.4s opacity ease;
}
.bar1 {
	margin-top: 0;
}
.bar3 {
	margin-bottom: 0;
}
/* Rotate first bar */
.cross .bar1 {
	-webkit-transform: rotate(-45deg) translate(-9px, 6px);
	transform: rotate(-45deg) translate(-9px, 6px);
}
/* Fade out the second bar */
.cross .bar2 {
	opacity: 0;
}
/* Rotate last bar */
.cross .bar3 {
	-webkit-transform: rotate(45deg) translate(-8px, -8px);
	transform: rotate(45deg) translate(-8px, -8px);
}
*/

/* footer */
#footer {
	padding: 3.3vmax 3vw;
	flex-shrink: 0;
}
#footer strong {
	font-size: calc((1.5 - 1) * 1.2vw + 1rem);
}

p:last-child {
	margin-bottom: 0;
}

/* colors */
.inverted-color {
	background-color: #040531;
	background-color: var(--secondary-background-color);
	color: white;
	color: var(--secondary-text-color);
}
.inverted-color * {
	color: white;
	color: var(--secondary-text-color);
}
#header-nav {
	background-color: #0a0b52;
	background-color: var(--nav-background-color);
}

/* embellishments */

/* icons */
.material-icons {
	font-size: 24px;
	vertical-align: middle;
}
.material-icons {
	font-feature-settings: "liga";
} /* Support for IE. */
.fa {
	color: white;
	color: var(--text-color);
	margin-right: 14px;
	padding: 2px;
}

.alignleft {
	float: left;
}
.aligntextleft {
	text-align: left;
}
.aligncenter {
	text-align: center;
	margin: 0 auto;
}
.alignvertical {
	position: relative;
	top: 50%;
	transform: translate(0, -50%);
}
.alignmiddle {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.centeralign {
	position: relative;
	left: 50%;
	transform: translate(-50%, 0);
}
.alignright {
	float: right;
	margin: 0 0 0 2%;
}
.alignform,
.aligntable {
	text-align: center;
	margin: 0 auto;
}
.alignerror {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.clear {
	clear: both;
}
.clearright {
	clear: right;
}
.clearleft {
	clear: left;
}

.fifty {
	width: 49%;
}
.maxwidth {
	width: 100%;
}
.padding {
	padding: 17px;
}
.tab {
	text-indent: 40px;
}

/* page/article specific */

/* TODO replace with bootstrap 4 later */
.bg-dark {
	background-color: grey;
	background-color: var(--secondary-background-color);
}
.bg-primary {
	background-color: white;
	background-color: var(--background-color);
}
.bg-primary {
	background-color: #040531;
	background-color: var(--secondary-background-color);
}
.text-primary {
	color: black;
	color: var(--text-color);
}
.text-secondary {
	color: white;
	color: var(--secondary-text-color);
}
.rounded {
	-webkit-border-radius: 0.25rem; /*Safari, Chrome*/
	-moz-border-radius: 0.25rem; /*Firefox*/
	border-radius: 0.25rem;
}

/* ======================== Tablet ========================= */
@media all and (min-width: 900px) {
	#messagecontainer {
		width: auto;
		font-size: calc((1.5 - 1) * 1.2vw + 1rem);
		/* position */
		top: 50%;
		left: 50%;
		bottom: unset;
		transform: translate(-50%, -50%);
	}

	.tfifty {
		width: 49%;
	}

	/* page/section specific */
	#homepage .fifty {
		width: 50%;
	}

	/* form */
	.phone {
		width: 36%;
	}

	/* header */
	#header {
		display: flex;
		align-items: center;
	}
	/* #header.toggled-on {
		height: auto;
	}
	#header nav {
		float: right;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		flex-grow: 10;
		padding: 0;
	}
	#header nav.toggled-on {
		flex-direction: row;
		font-size: inherit;
	}
	#header nav a {
		margin-left: 1.5vw;
		margin-right: 2.5vw;
	}
	#header nav a:last-child {
		margin-right: 0;
	}
	#header nav.toggled-on div {
		margin-bottom: 0;
	}
	#header nav.toggled-on a.currentpage {
		border-width: 1px;
	}
	#header .toggled-on button,
	#header .toggled-on .button {
		font-size: inherit;
	} */
	#menu-button {
		display: none;
	}

	/* footer */
	.flex-container {
		flex-direction: row;
	}
	.flex-item {
		margin-top: 0;
	}
	.flex-card {
		margin-right: 6%;
	}
}

/* ======================== Desktop ======================== */
@media all and (min-width: 1200px) {
	.dfifty {
		width: 49%;
	}
}

@media all and (min-width: 2000px) {
	h1 {
		font-size: calc(3.7 * 1rem);
	}
	h2 {
		font-size: calc(3.4 * 1rem);
	}
	h3 {
		font-size: calc(2.2 * 1rem);
	}
	h4 {
		font-size: calc(1.6 * 1rem);
	}

	#footer strong {
		font-size: calc(1.5 * 1rem);
	}
}
