<main class="fill-viewport">
	<!-- Dividing Image !-->
	<object
		class="img-divider-bottom"
		type="image/svg+xml"
		data="/images/headerdesign.svg"
	></object>
	<article class="aligncenter">
		<h2>The page you are looking<br />for doesn't seem to exist</h2>
		<a href="/" class="button">Home</a>
	</article>
</main>