<main>
	<!-- Dividing Image !-->
	<object
		class="img-divider-bottom"
		type="image/svg+xml"
		data="/images/headerdesign.svg"
	></object>
	<article id="top">
		<h1>Team</h1>
		<div class="aligntextleft padding">
			<h3>Executive</h3>
			<p>Omar Waked</p>
			<p class="tab small">Co-founder & CEO</p>
			<p>Sean Krivonogoff</p>
			<p class="tab small">Co-founder & COO</p>
		</div>
		<div class="aligntextleft padding">
			<h3>Hardware</h3>
			<p>Ryan Szto</p>
			<p class="tab small">Mechanical Engineer</p>
		</div>
		<div class="aligntextleft padding">
			<h3>Software</h3>
			<p>Austin McKee</p>
			<p class="tab small">Software Developer</p>
			<p>Ryan Kirkpatrick</p>
			<p class="tab small">Software Developer</p>
		</div>
	</article>
</main>