<main class="fifty aligncenter">
	<article>
		<h2>Early Access</h2>
		<h4>Join the list to get early access to download the IOS app when it becomes available.</h4>
	</article>
	<article>
		<form>
			<fieldset>
				<legend>Name *</legend>
				<div class="alignleft fifty">
					<input class="maxwidth" name="firstname" type="text"  />
					<label for="firstname">First Name</label>
				</div>
				<div class="alignright fifty">
					<input class="maxwidth" name="lastname" type="text"  />
					<label for="lastname">Last Name</label>
				</div>
				<br class="clear"/>
			</fieldset>
			<fieldset class="email">
				<label for="email">Email *</label>
				<input class="maxwidth" name="email" type="email"  />
			</fieldset>
			<fieldset>
				<input class="button" type="submit" value="Join" />
			</fieldset>
		</form>
	</article>
</main>