<main>
	<article class="fill-viewport">
		<h1><strong>Parking Simplified.</strong></h1>
		<h1><strong>For Everyone.</strong></h1>
	</article>
	<article class="fill-viewport">
		<a class="button" href="/early-access">Get Early Access</a>
	</article>
</main>