<main>
	<article id="top">
		<h1><strong>PARKING,<br />MEET<br />TECHNOLOGY.</strong></h1>
		<h3>Parking is frustrating and outdated.<br />Let's bring parking up-to
			speed.</h3>
		<a href="/#easy"><strong>LEARN MORE.</strong></a>
		<img class="map" src="/images/portland-map-vertical.png" />
	</article>
	<article id="easy">
		<h1><strong>EASY.</strong></h1>
		<h3>NEVER WORRY ABOUT<br />LOOKING FOR PARKING AGAIN.</h3>
		<p>With the Raedam app, you can forget about the need to look for parking.
			Simply enter your destination in the app and we’ll find you the best
			available parking spot. No hassel. No guess work.</p>
		<a href="/early-access"><strong>GET EARLY ACCESS.</strong></a>
		<div class="flex-container flex-card-container">
			<div class="flex-item flex-card">
				<p>CENTRALIZED</p>
				<p>All the relevant information you need is ready for you. No more
					needing to worry about parking laws and tickets.</p>
			</div>
			<div class="flex-item flex-card">
				<p>NETWORK</p>
				<p>A growing network of other drivers and businesses providing data to
					give you the best experience possible.</p>
			</div>
		</div>
	</article>
	<article id="app">
		<img />
		<a href="/early-access"><strong>DOWNLOAD.</strong>></a>
	</article>
	<article id="streamlined">
		<h1><strong>STREAMLINED.</strong></h1>
		<h3>CUTTING EDGE INNOVATION<br />FOR THE WORLD OF TOMORROW</h3>
		<p>Analytics and smart predictions. Raedam will help you streamline your
			operations and enforcements. With the transition to smart vehicles, your
			facilities will be supported for full autonomy.</p>
		<a href="/#partners"><strong>LEARN MORE.</strong></a>
		<div class="flex-container flex-card-container">
			<div class="flex-item flex-card">
				<p>AUTONOMY</p>
				<p>Adopt the necessary technologies for your facilities to support full
					automation.</p>
			</div>
			<div class="flex-item flex-card">
				<p>SMART</p>
				<p>More data, more analytics, and more power = better operations, better
					enforcement, and less hassel.</p>
			</div>
		</div>
	</article>
	{{! TODO add partner section when ready }}
	<article id="partners" hidden>
		<img src="" />
		<h1><strong>OUR<br />PARTNERS.</strong></h1>
		<h3>COMPANIES AND<br />INSTITUTIONS WE WORK<br />WITH</h3>
		<p>Join the growing list of companies and institutions using Raedam to
			remove the pain and frustration around the outdated parking processes.</p>
		<a href=""><strong>LEARN MORE.</strong></a>
	</article>
	<article id="contact">
		<h1><strong>CONTACT<br />US.</strong></h1>
		<h3>GET IN TOUCH WITH US</h3>
		<p>
			Interested in joining Raedam?<br />
			Great. We're here to help.
		</p>
		<a href="/contact"><strong>CONTACT US.</strong></a>
	</article>
</main>