<!-- Introduction Paragraph !-->
<section class="inverted-color">
	<article id="top" class="inverted-color">
		<h1>PARKING,<br />MEET<br />TECHNOLOGY.</h1>
		<p>
			Since its inception with the dawn of the automobile,
			<br />
			parking has remained the same.
			<br />
			It's time to bring it into the 21st century.
		</p>
		<h4><a class="scroll" data-speed="500" href="/#easy">LEARN MORE.</a></h4>
	</article>
</section>
<!-- Dividing Image !-->
<object
	class="img-divider-bottom"
	type="image/svg+xml"
	data="/images/headerdesign.svg"
></object>
<!-- Content Div Restarting !-->
<section>
	<article id="easy">
		<!-- Secondary Paragraph !-->
		<h1>EASY.</h1>
		<h2>NEVER WORRY ABOUT<br />FINDING PARKING AGAIN.</h2>
		<p>
			With the Raedam app, parking
			<br />
			becomes like second nature. Just enter your location
			<br />
			into the app and we'll find the parking spots for you.
			<br />
			No hassle. No guesswork.
		</p>
		<h4><a href="/early-access">GET EARLY ACCESS.</a></h4>

		<!-- Information Panels !-->
		<div class="flex-container flex-card-container">
			<div class="flex-card">
				<h4>CENTRALIZED</h4>
				<p>
					All the relevant information you need is ready for you.
					<br />
					No more needing to worry about parking laws and tickets.
				</p>
			</div>
			<div class="flex-card">
				<h4>NETWORK</h4>
				<p>
					A growing network of other drivers and businesses
					<br />
					providing data to give you the best experience possible.
				</p>
			</div>
		</div>
	</article>
</section>
<!-- Dividing Image !-->
<object
	class="img-divider-top"
	type="image/svg+xml"
	data="/images/footerdesign.svg"
></object>
<section class="inverted-color">
	<article id="app">
		<h1>R</h1>
		<!-- TODO add link -->
		<h2><a>DOWNLOAD THE RAEDAM APP</a></h2>
	</article>
</section>
<object
	class="img-divider-bottom"
	type="image/svg+xml"
	data="/images/headerdesign.svg"
></object>
<!-- Content Div Restarting !-->
<section>
	<article id="streamlined">
		<!-- Tertiary Paragraph ~-->
		<h1>STREAMLINED.</h1>
		<h2>CUTTING EDGE TECHNOLOGY<br />FOR THE WORLD OF TOMORROW.</h2>
		<br />
		<p>
			Analytics and smart predictions. Raedam will help you
			<br />
			streamline your operations and enforcements.
			<br />
			With the transition to smart vehicles, your facilities
			<br />
			will be supported for full autonomy.
		</p>
		<!-- TODO reactivate link -->
		{{! <h4><a class="scroll" data-speed="500" href="/#partners">LEARN MORE.</a></h4> }}

		<!-- Infomration panels !-->
		<div class="flex-container flex-card-container">
			<div class="flex-card">
				<h4>AUTOMONY</h4>
				<p>
					Adopt the necessary technologies for your facilities to support full
					automation.
					<br />
					Future-proof your business.</p>
			</div>
			<div class="flex-card">
				<h4>SMART</h4>
				<p>
					More data, more analytics, and more power
					<br />
					= better operations, better enformcement, and less hassel.
				</p>
			</div>
		</div>
	</article>
	{{!<article id="partners">
	<!-- Quanternary Paragraph !-->
	<div>
		<h1>OUR PARTNERS.</h1>
		<h2>COMPANIES AND INSTITUTIONS<br />WE WORK WITH.</h2>
		<p>
			Join the growing list of companies and institutions using
			<br />
			Raedam to remove the pain and frustration around the
			<br />
			outdated parking processes.
		</p>
		<h4><a href="/join">LEARN MORE.</a></h4>
	</div>
</article>}}
	<article id="contact">
		<!-- Quinary Paragraph !-->
		<h1>CONTACT US.</h1>
		<h2>GET IN TOUCH WITH US.</h2>
		<p>Interesed in joining Raedam? Send us a message,
			<br />
			we're excited to meet you!</p>
		<h4><a href="/contact">GET IN TOUCH.</a></h4>
	</article>
</section>