{{! TODO scale and compress images }}
<main id="homepage">
	<article id="top">
		<h1><strong>PARKING,<br />MEET<br />TECHNOLOGY.</strong></h1>
		<h3>Parking is frustrating and outdated.<br />Let's bring parking up-to
			speed.</h3>
		<a href="/#easy"><strong>LEARN MORE.</strong></a>
		<img class="map" src="/images/portland-map-vertical.png" />
	</article>
	<div class="city1">
		<img
			class="city1"
			src="/images/andrew-jephson-JAlBhKQkt4c-unsplash-crop.jpg"
		/>
		<svg
			class="city1"
			xmlns="http://www.w3.org/2000/svg"
			viewBox="0 0 1440 320"
		><path
				fill-opacity="1"
				d="M0,64L120,96C240,128,480,192,720,197.3C960,203,1200,149,1320,122.7L1440,96L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"
			></path>
		</svg>
	</div>
	<article id="easy">
		<h1><strong>EASY.</strong></h1>
		<h3>NEVER WORRY ABOUT<br />LOOKING FOR PARKING AGAIN.</h3>
		<p class="fifty">With the Raedam app, you can forget about the need to look
			for parking. Simply enter your destination in the app and we’ll find you
			the best available parking spot. No hassel. No guess work.</p>
		<a href="/early-access"><strong>GET EARLY ACCESS.</strong></a>
		<div class="flex-container flex-card-container">
			<div class="flex-item flex-card">
				<p>CENTRALIZED</p>
				<p>All the relevant information you need is ready for you. No more
					needing to worry about parking laws and tickets.</p>
			</div>
			<div class="flex-item flex-card">
				<p>NETWORK</p>
				<p>A growing network of other drivers and businesses providing data to
					give you the best experience possible.</p>
			</div>
		</div>
	</article>
	<article id="app">
		<div class="city2">
			<svg
				class="city2-top"
				xmlns="http://www.w3.org/2000/svg"
				viewBox="0 0 12 4.25"
			><path
					fill-opacity="1"
					d="M0 4.25Q4 .25 6 .25Q8 .25 12 4.25L12 0 0 0"
				></path>
			</svg>
			<img
				class="city2"
				src="/images/josh-herrington-QWk07-NT7rU-unsplash.jpg"
			/>
			<svg
				class="city2-bottom"
				xmlns="http://www.w3.org/2000/svg"
				viewBox="0 0 12 1"
			><path
					fill-opacity="1"
					d="M0 .5C2 .5 4 0 6 0C8 0 10 .5 12 .5L12 1 0 1"
				></path>
			</svg>
			<div id="download">
				<img src="/android-chrome-192x192.png" />
				<h1><a href="/early-access">DOWNLOAD.</a></h1>
			</div>
		</div>
	</article>
	<article id="streamlined">
		<h1><strong>STREAMLINED.</strong></h1>
		<h3>CUTTING EDGE INNOVATION<br />FOR THE WORLD OF TOMORROW</h3>
		<p class="fifty">Analytics and smart predictions. Raedam will help you
			streamline your operations and enforcements. With the transition to smart
			vehicles, your facilities will be supported for full autonomy.</p>
		<a href="/#partners"><strong>LEARN MORE.</strong></a>
		<div class="flex-container flex-card-container">
			<div class="flex-item flex-card">
				<p>AUTONOMY</p>
				<p>Adopt the necessary technologies for your facilities to support full
					automation.</p>
			</div>
			<div class="flex-item flex-card">
				<p>SMART</p>
				<p>More data, more analytics, and more power = better operations, better
					enforcement, and less hassel.</p>
			</div>
		</div>
	</article>
	{{! TODO add partner section when ready }}
	<div class="city3" hidden>
		<img src="/images/matt-jones-9CPAjGVB378-unsplash-crop.jpg" />
		<div></div>
		<svg
			class="city3-bottom"
			xmlns="http://www.w3.org/2000/svg"
			viewBox="0 0 12 1"
		><path fill-opacity="1" d="M0 0C6 1 10 1.5 13 0L13 1 0 1"></path>
		</svg>
	</div>
	<article id="partners" hidden>
		<h1><strong>OUR<br />PARTNERS.</strong></h1>
		<h3>COMPANIES AND<br />INSTITUTIONS WE WORK<br />WITH</h3>
		<p>Join the growing list of companies and institutions using Raedam to
			remove the pain and frustration around the outdated parking processes.</p>
		<a href=""><strong>LEARN MORE.</strong></a>
	</article>
	<div class="city4">
		<img src="/images/matt-jones-9CPAjGVB378-unsplash-crop.jpg" />
		<div></div>
		<svg
			class="city4-bottom"
			xmlns="http://www.w3.org/2000/svg"
			viewBox="0 0 12 1"
		><path fill-opacity="1" d="M0 1C6 0 9 0 13 0L13 1"></path>
		</svg>
	</div>
	<article id="contact">
		<h1><strong>CONTACT<br />US.</strong></h1>
		<h3>GET IN TOUCH WITH US</h3>
		<p>
			Interested in joining Raedam?<br />
			Great. We're here to help.
		</p>
		<a href="/contact"><strong>CONTACT US.</strong></a>
	</article>
</main>