<main class="aligncenter">
	<h1>Newsletter</h1>
	<div class="padding">&nbsp;</div>	<!-- spacer -->
	<article>
		<h2>Subscribe</h2>
		<p>Sign up to receive news and updates.</p>
		<form>
			<fieldset class="email">
				<input class="padding" name="email" type="email" pattern="" placeholder="Email Address" required />
			</fieldset>
			<fieldset class="aligncenter">
				<input class="button" type="submit" value="Sign Up" />
			</fieldset>
		</form>
	</article>
</main>