<main>
    <h1>Products</h1>
    <h2>Overhead Sensor</h2>
    <div class="flex-container">
        <div class="flex-item">
            <h3>Data Collection</h3>
            <p>Real-time data collection, providing detailed insights into facility usage.</p>
        </div>
        <div class="flex-item">
            <h3>Enforcement</h3>
            <p>Optimized and accurate without the extra work.</p>
        </div>
        <div class="flex-item">
            <h3>Guaranteed</h3>
            <p>Accuracy in information. Optimizing facilities and operations.</p>
        </div>
    </div>
    <div class="padding">&nbsp;</div>	<!-- spacer -->
    <a class="button">Contact Sales</a>
    <h3>Embedded Sensor</h3>
    <p><strong>In development!</strong></p>
</main>