<main>
	<h1>Services</h1>
	<div class="padding">&nbsp;</div>	<!-- spacer -->
	<div class="flex-container">
		<div class="flex-item">
			<h3>Data</h3>
			<p>In depth data collected and analyzed to optimize your facilities and operations.</p>
		</div>
		<div class="flex-item">
			<h3>Control</h3>
			<p>It's your business, as such, you decide how your facilities are managed. We help keep things simple for you.</p>
		</div>
		<div class="flex-item">
			<h3>Network</h3>
			<p>Joining Raedam also allows you to  be part of our network, helping you maximize utilization and revenue.</p>
		</div>
	</div>
	<div class="padding">&nbsp;</div>	<!-- spacer -->
	<a class="button">Contact Sales</a>
</main>