<footer id="footer">
	<div id="footer-nav" class="flex-container">
		<div class="flex-item">
			<p><strong>ABOUT</strong></p>
			<p><a href="/about">Team</a></p>
		</div>
		<div class="flex-item">
			<p><strong>UPDATES</strong></p>
			<p><a href="/press">Press</a></p>
			<p><a href="/newsletter">Newsletter</a></p>
		</div>
		<div class="flex-item">
			<div>
				<p><strong>CONTACT</strong></p>
				<p>omar@raedam.co<br>(971)-319-1741</p>
				<p>2828 South Corbett Avenue<br>Portland, OR 97201</p>
			</div>
			<div class="padding">
				{{> social}}
			</div>
		</div>
	</div>
	<p>Raedam <span id="year"></span></p>
</footer>
<!-- Scripts -->
<script>
	document.getElementById('year').innerText = new Date().getFullYear();
</script>