<footer id="footer" class="inverted-color">
	<h2>Join the Raedam mailing list:</h2>
	<form id="email-list">
		<input
			type="text"
			id="email"
			name="email"
			placeholder="e.g. support@raedam.co"
		/>
	</form>
	<button type="submit" form="email-list" value="Submit">Join</button>
</footer>