</main>
<footer id="footer" class="centertext">
	<!-- Dividing Image !-->
	{{> footerdesign}}
	<div class="inverted-color">
		<div id="footer-form" class="flex-container">
			<h4 class="flex-item">JOIN THE MAILING LIST</h4>
			<form id="newsletter-form" class="alignform flexitem">
				<input
					type="text"
					id="email"
					name="email"
					placeholder="e.g. support@raedam.co"
					required
				/>
				<button type="submit" form="newsletter-form" value="Submit">Join</button>
			</form>
		</div>
		<hr />
		<div id="footer-nav" class="flex-container">
			<div class="flex-item">
				<p><strong>ABOUT</strong></p>
				<p><a href="/about">Team</a></p>
			</div>
			<div class="flex-item">
				<p><strong>UPDATES</strong></p>
				<p hidden><a href="/press">Press</a></p>
				<p><a href="/newsletter">Newsletter</a></p>
			</div>
			<div class="flex-item">
				<div>
					<p><strong>CONTACT</strong></p>
					<p><span class="rot13">bzne@enrqnz.pb</span><br><span class="rot5">(426)-864-6296</span></p>
					<p>2828 South Corbett Avenue<br>Portland, OR 97201</p>
				</div>
				<div class="padding-v">
					{{> social}}
				</div>
			</div>
		</div>
		<p>Raedam <span id="year"></span></p>
	</div>
</footer>
<!-- Scripts -->
<script>
	document.getElementById('year').innerText = new Date().getFullYear();
</script>