<!-- Dividing Image !-->
<object class="img-divider-top" type="image/svg+xml" data="/images/footerdesign.svg"><?xml-stylesheet href="main.css" type="text/css"?></object>
<footer id="footer" class="inverted-color centertext">
	<h2>Join the Raedam mailing list:</h2>
	<form id="email-list" class="alignform">
		<input
			type="text"
			id="email"
			name="email"
			placeholder="e.g. support@raedam.co"
		/>
		<button type="submit" form="email-list" value="Submit">Join</button>
	</form>
</footer>