</main>
<footer id="footer" class="centertext">
	<!-- Dividing Image !-->
	{{> footerdesign}}
	<div class="inverted-color">
		<h2>Join the Raedam mailing list:</h2>
		<form id="newsletter-form" class="alignform">
			<input
				type="text"
				id="email"
				name="email"
				placeholder="e.g. support@raedam.co"
			/>
			<button type="submit" form="newsletter-form" value="Submit">Join</button>
		</form>
	</div>
</footer>