{{! TODO fix on mobile }}
<header id="header" class="inverted-color">
	<h1 class="header-title"><a href="/">RAEDAM</a></h1>
	{{! <div id="menu-button" onclick="menuToggle(this)">
		<div class="bar1"></div>
		<div class="bar2"></div>
		<div class="bar3"></div>
	</div> }}
</header>
<nav class="header-nav inverted-color">
	<ul>
		<li><a
				class="scroll"
				data-speed="500"
				href="/#streamlined"
			>Solutions</a></li>
		<li><a href="/about">About</a></li>
		<li><a class="scroll" data-speed="500" href="/#contact">Contact</a></li>
		<li><a href="https://business.raedam.co/">Login</a></li>
		<li><a href="/join">Request Demo</a></li>
	</ul>
</nav>