<a href="https://www.linkedin.com/company/raedam/" target="_blank" class="fa fa-linkedin fa-lg"></a>
<a href="http://twitter.com/raedamco" target="_blank" class="fa fa-twitter fa-lg"></a>
<a href="https://www.instagram.com/raedam.co/" target="_blank" class="fa fa-instagram fa-lg"></a>
<a href="https://medium.com/@raedam" target="_blank" class="fa fa-medium fa-lg"></a>
<a href="https://angel.co/raedam" target="_blank" class="fa fa-angellist fa-lg"></a>
<a href="https://www.crunchbase.com/organization/raedam" target="_blank" class="fa fa-crunchbase fa-lg">cb</a>